<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       fileName=".\SPWebService.log" formatter="Text Formatter" rollFileExistsBehavior="Increment"
       rollInterval="Week" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
       name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="ServiceTechDb" />
  <connectionStrings>
      <add name="ServiceTechDb" connectionString="Data Source=stsprod.servicetrackingsystems.net;Initial Catalog=ServiceTech;Persist Security Info=True;User ID=SvcTrkUser;Password=$vcTrkU$3r"
          providerName="System.Data.SqlClient" />
      <add name="ServicePleaseServiceLibrary.Properties.Settings.ServiceTechConnectionString"
          connectionString="Data Source=stsprod.servicetrackingsystems.net;Initial Catalog=ServiceTech;Persist Security Info=True;User ID=SvcTrkUser;Password=$vcTrkU$3r"
          providerName="System.Data.SqlClient" />
      <add name="ServicePleaseServiceLibrary.Properties.Settings.DataSourceConnectionString"
          connectionString="Data Source=stsprod.servicetrackingsystems.net;User ID=SvcTrkUser"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMTPUser" value="clienthappiness@servicetrackingsystems.net" />
    <add key="SMTPPassword" value="ServIce!" />
    <add key="SMTPServer" value="smtp.exg6.exghost.com" />
    <add key="SMTPPort" value="2525" />
    <!--<add key="SMTPUser" value="ncedelliott@gmail.com" />
    <add key="SMTPPassword" value="AZ7mad7max" />
    <add key="SMTPServer" value="smtp.gmail.com" />-->
  </appSettings>
</configuration>