<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="membership" type="Microsoft."/>
	</configSections>
	<dataConfiguration defaultDatabase="ServicePleaseEntities" />
	<connectionStrings>
  </connectionStrings>
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     fileName=".\SPWebService.log" formatter="Text Formatter"
     rollFileExistsBehavior="Increment" rollInterval="Week" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
     name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</notProcessed>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<system.web>
		<identity impersonate="true" />
		<customErrors mode="Off" />
		<compilation targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
		<globalization culture="auto" uiCulture="auto" />
		<httpRuntime maxRequestLength="2147483647"
      useFullyQualifiedRedirectUrl="true"
      executionTimeout="14400"   />
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</modules>
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647"/>
			</webServices>
		</scripting>
	</system.web.extensions>	
	<system.serviceModel>
		<services>
			<service name="ServicePleaseServiceLibrary.ServicePleaseService">
				<endpoint behaviorConfiguration="mainEndpointBehavior"
				 binding="webHttpBinding" bindingConfiguration="mainBindingConfig"
				 name="mainEndpoint" bindingName="mainBinding"
				 contract="ServicePleaseServiceLibrary.Interfaces.IServicePleaseService"
				 kind="webHttpEndpoint" endpointConfiguration="mainEndpoint" />
				<host>
					<baseAddresses>
						<!--<add baseAddress="http://www.ekeservices.net/ServicePleaseWebService"/>-->
            <add baseAddress="http:///ServicePleaseWebService" />
            <!--<add baseAddress="http://localhost:1372"/>-->
					</baseAddresses>
					<timeouts closeTimeout="00:30:00" openTimeout="00:30:00" />
				</host>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="mainEndpointBehavior">
					<webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" defaultBodyStyle="Bare"
					 automaticFormatSelectionEnabled="true" faultExceptionEnabled="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="serviceTechSvcBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
					<bufferedReceive maxPendingMessagesPerChannel="2147483647" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
					<serviceTimeouts transactionTimeout="00:30:00" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<webHttpBinding>
				<binding name="mainBindingConfig" closeTimeout="00:30:00" openTimeout="00:30:00"
				 receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="2147483647"
				 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					 maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None">
						<transport proxyCredentialType="None" />
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint name="mainEndpoint" maxBufferSize="2147483647" faultExceptionEnabled="True"
				 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
				 transferMode="Streamed" helpEnabled="true" defaultOutgoingResponseFormat="Json"
				 automaticFormatSelectionEnabled="true">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					 maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</standardEndpoint>
			</webHttpEndpoint>
		</standardEndpoints>
	</system.serviceModel>

	<appSettings>
		<!--<add key="SMTPUser" value="ncedelliott@gmail.com"/>
		<add key="SMTPPassword" value="AZ7mad7max"/>
		<add key="SMTPServer" value="smtp.gmail.com"/>
		<add key="SMTPPort" value="25"/>-->
		<add key="SMTPUser" value="servicetech@servicetrackingsystems.net" />
		<add key="SMTPPassword" value="Serv!ce" />
		<add key="SMTPServer" value="smtp.exg6.exghost.com" />
		<add key="SMTPPort" value="2525" />
	</appSettings>
</configuration>
