<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
    <add name="ServiceTechDb" connectionString="Data Source=stsprod.servicetrackingsystems.net;Initial Catalog=ServiceTech;Persist Security Info=True;User ID=SvcTrkUser;Password=$vcTrkU$3r"
        providerName="System.Data.SqlClient" />
    <add name="DailyRecap.Properties.Settings.ServiceTechConnectionString"
        connectionString="Data Source=stsprod.servicetrackingsystems.net;Initial Catalog=ServiceTech;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="DailyRecap.Properties.Settings.ServiceTechConnectionString1"
        connectionString="Data Source=stsprod.servicetrackingsystems.net;Initial Catalog=ServiceTech;User ID=SvcTrkUser;Password=$vcTrkU$3r"
        providerName="System.Data.SqlClient" />
</connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="clienthappiness@servicetrackingsystems.net" >
        <network host="smtp.exg6.exghost.com" port="2525" userName="clienthappiness@servicetrackingsystems.net" password="ServIce!" />
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="Host" value="smtp.exg6.exghost.com"/>
    <add key="Port" value="2525"/>
    <add key="UserName" value="clienthappiness@servicetrackingsystems.net"/>
    <add key="Password" value="ServIce!"/>
    <add key="FolderName" value="DRExcel"/>
    <add key="CC" value="hackers@servicetrackingsystems.net,support@servicetrackingsystems.net,clienthappiness@servicetrackingsystems.net" />
    <!--<add key="CC" value="pushpalatha.prakash@colanonline.com,kannappan@colanonline.com,poomalai@colanonline.com" />-->
  </appSettings>
  
</configuration>